<div class="video-div" style="background-color: black;">
    <h3 class="value"></h3>
    <iframe class="video" id="myIframe" width="250px" height="250px" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    <div class="answers">
    <!--Append "Answer.html" here-->
    </div>
    <button type="button" onclick="CheckAnswer()">Confirm</button>
</div>