* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}



body::-webkit-scrollbar {
    display: none;
}

.remove-scroll {
    height: 100%;
    overflow: hidden;
}

.questions {
    display: flex;
    flex-wrap: nowrap;
}
  
.question {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    flex-shrink: 0;
}